DJANGO_SECRET_KEY=troque-esta-chave-por-uma-segura
DEBUG=False
ALLOWED_HOSTS=belacheirosa.pythonanywhere.com,www.seudominio.com,seudominio.com
CSRF_TRUSTED_ORIGINS=https://belacheirosa.pythonanywhere.com,https://www.seudominio.com,https://seudominio.com
LOJA_WHATSAPP=5593991512300
SECURE_SSL_REDIRECT=True
SECURE_HSTS_SECONDS=31536000
